/* style.css */
html, body {
  margin: 0;
  padding: 0;
  width: 800px;
  height: 480px;
  background: #000;
  font-family: Arial, sans-serif; /* fuente segura */
  overflow: hidden;
}

#grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  height: 100%;
  gap: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  transition: background-color 0.5s ease;
  border: none;
  padding: 5px;
  background-color: #222; /* color de fondo inicial */
  border-radius: 8px;
}

.card canvas {
  width: 90%;
  height: 60%;
}
